@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color:#f4f4f9; ;
    
}

.main_container{
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    background-color: white;
    max-width: 800px;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
    border-radius: 16px;
}

.main_container-heading{
    margin-top: 10px;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

.main_container_add_contact{
    padding: 20px;
    display: flex;
    flex-direction: column;;
}

.container_add_contact{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 16px;
    border-radius: 10px;
    gap: 10px;
}

.form{
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 12px;
    font-family: "Inter", sans-serif;
}

.button1{
    border: 0px;
    padding: 12px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.button1:hover{
    background-color: #0056b3;
}

.main_container_contact_list{
    padding: 20px;
    display: flex;
    flex-direction: column;;
}

.container_contact_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
    padding: 15px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 16px;
    border-radius: 10px;
}

.contact-detail{
    margin-left: 10px;
}

.button2{
    font-family: "Inter", sans-serif;
    margin-left: auto;
    width: 35px;
    height: 35px;
    color: white;
    background-color: red;
    border: 0px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.button2:hover{
    background-color: #a02121;
}

.user-image{
    width: 64px;
    height: 64px;
}
